/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/


html ,
body{
	/*устанавливает высоту блочных тегов*/
	height: 100%;
	/*устанавливает межстрочный интервал текста*/
	line-height: 1;
	scroll-behavior: smooth;
	/*устанавливает сесмейство шрифта, которое будет использовано для оформления текста содержимого*/
	font-family: Arial, Helvetica, sans-serif;
}

body{
	/*устанавливает сесмейство шрифта, которое будет использовано для оформления текста содержимого*/
	font-family: 'Gilroy Bold';
	/*определяет размер шрифта элемента*/
	font-size: 18px;
	/*устанавливает межстрочный интервал текста*/
	line-height: 22px;
	/*для задания цвета используются числа в 16-ой системе*/
	color: #FFF;
	counter-reset:#616161;
}

[class*="__container"]{
	/*устанавливает максимальную ширину блочных тегов (Ограничение ширины)*/
	max-width: 1100px;
	/*определяет внешний отступ блочных тегов*/
	/*в отличие от padding, margin может быть отрицательным*/
	/*0 auto заставляет блочный элемент, ограниченный по ширине, выстроиться по центру браузера*/
	margin: 0 auto;
	/*внутренний отступ блочных тегов*/
	/*сначала идет отступ от верхнего края, затем отступ от правого края, затем отступ снизу и вконце слева*/
	/*если только два значения, то первое - остступ сверху и снизу, второе значение - отступ слева и справа*/
	padding: 0px 15px;
}

.wrapper{
	/*управляет отображением содержания блочного элемента*/
	/*hidden скрывает всё, что вылазеет за пределы блока*/
	overflow: hidden;
	/*многоцелевое свойство, которое определяет, как элемент должен быть показан в документе*/
	/*включает flex разметку*/
	display: flex;
	/*устанавливает минимальную высоту блочных тегов*/
	min-height: 100%;
	flex-direction: column;
}

.main{
	/*первое значение - значение свойства grow - возможность увеличиваться в размере*/
	/*вторым значение свойства shrink - возможность уменьшаться в размере относительно базового размера*/
	/*третьим значение свойства basis, базовый размер элемента*/
	flex: 1 1 auto;
}

.header {
	/*устанавливает тип позиционирования элемента относительно других элементов, либо окна браузера*/
	position: absolute;
	/*устанавливает ширину блочных тегов, а также некоторых строчных, например img*/
	width: 100%;
	top: 0;
	left: 0;
	/*управляет наложением элементов*/
	z-index: 50;
}
.header__container {
	/*многоцелевое свойство, которое определяет, как элемент должен быть показан в документе*/
	/*включает flex разметку*/
	display: flex;
	/*устанавливает минимальную высоту блочных тегов*/
	min-height: 88px;
	/*определяет поведение вдоль поперечной оси*/
	align-items: center;
	/*устанавливает минимальную ширину блочных тегов*/
	min-width: 1000px;
	/*определяет внешний отступ блочных тегов*/
	margin: 0 auto;
	/*внутренний отступ блочных тегов*/
	padding: 0px 15px;
}

.header__menu {
	/*многоцелевое свойство, которое определяет, как элемент должен быть показан в документе*/
	/*включает flex разметку*/
	display: flex;
	/*опредляет выравнивание вдоль основной оси*/
	justify-content: flex-start;
}

.menu {
	/*многоцелевое свойство, которое определяет, как элемент должен быть показан в документе*/
	/*включает flex разметку*/
	display: flex;
}
.menu__list {
	/*устанавливает минимальную ширину блочных тегов*/
	min-width: 800px;
	font-size: 18px;
	/*устанавливает межстрочный интервал текста*/
	line-height: 22px;
	/*внутренний отступ блочных тегов*/	
	padding-top: 33px;
	padding-right: 0px;
	padding-bottom: 31px;
	padding-left: 0px;
}

.logo{
	/*определяет поведение вдоль поперечной оси*/
	align-items: center;
	font-size: 25px;
}

.first{
	/*устанавливает тип позиционирования элемента относительно других элементов, либо окна браузера*/
	/*положение элементов устанавливается относительно его изначального положения в коде*/
	position: relative;
	/*управляет наложением элементов*/
	z-index: -1;
	/*устанавливает фоновое изображение для элемента, либо задает градиентную заливку*/
	/*url -указание пути изображения*/
	/*repeat определяет как будет повторяться изображение */
	background: url('../img/back.jpg')no-repeat center center;
	/*масштабирует фоновое изображение согласно заданным размерам*/
	/*в данном случае масштабирует изображение с сохранением пропорций так, чтобы его ширина или высота равнялась ширине или высоте блока*/
	background-size:cover;
	/*устанавливает минимальную высоту блочных тегов*/
	min-height:100%;
	/* background-color: #fff;	 */
}

/*Обращение к псевдоэлементу*/
/*after применяется для отображения желаемого элемента к которому он применен*/
.first::after{
	/*без свойства этот псевдоэлемент не отобразится в браузере */
	content: '';
	/*многоцелевое свойство, которое определяет, как элемент должен быть показан в документе*/
	/*block заставляет элемент показываться, как блочный*/
	display: block;
	/*устанавливает ширину блочных тегов, а также некоторых строчных, например img*/
	width: 100%;
	/*устанавливает высоту блочных тегов*/
	height: 100%;
	/*устанавливает тип позиционирования элемента относительно других элементов, либо окна браузера*/
	/*блок "зависает" в воздухе*/
	position: absolute;
	/*он обязательно должен сопровождаться свойствами позиционирования*/
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	/*управляет фоном элемента*/
	/*в данном случае, задает конкретный цвет*/
	/*0,7 отвечает за прозрачность*/
	background-color:rgba(0, 0, 0, 0.7);
	/*управляет наложением элементов*/
	z-index: -1;
}

.bg__image{
	/*устанавливает тип позиционирования элемента относительно других элементов, либо окна браузера*/
	/*положение элементов устанавливается относительно его изначального положения в коде*/
	position: relative;
}

.any__info{
	/*многоцелевое свойство, которое определяет, как элемент должен быть показан в документе*/
	/*включает flex разметку*/
	display: flex;
	/*опредляет выравнивание вдоль основной оси (справа расположить)*/
	justify-content: flex-end;
	/*определяет поведение вдоль поперечной оси*/
	/*все flex элементы выстраиваются по центру*/
	align-items: center;
}
.menu__item {
	/*определяет горизонтальное выравнивание текста (по центру)*/
	text-align: center;
	/*определяет внешний отступ блочных тегов*/
	margin: 0px 102px 0px 0px;
	/*на элемент начинают действовать все характеристики*/
	display: inline-block;
	/*внутренний отступ блочных тегов*/
	padding: 6px 12px 4px 10px;
}
/*обращение к последнему элементу класса*/
.menu__item:last-child {
	/*определяет внешний отступ блочных тегов*/
	margin: 0px ;
}
.menu__item {
	/*положение элементов устанавливается относительно его изначального положения в коде*/
	position: relative;
	z-index: 99;
}



.main{
	/*первое значение - значение свойства grow - возможность увеличиваться в размере*/
	/*вторым значение свойства shrink - возможность уменьшаться в размере относительно базового размера*/
	/*третьим значение свойства basis, базовый размер элемента*/
	flex:  1 1 auto;
}

.name{
	/*определяет внешний отступ блочных тегов*/
	margin: 128px 0px 0px 0px;
}

.name__row {
	/*многоцелевое свойство, которое определяет, как элемент должен быть показан в документе*/
	/*включает flex разметку*/
	display: flex;
	flex-direction: column;
	/*определяет внешний отступ блочных тегов*/
	margin-top:400px ;
	margin-bottom:235px ;
}
.name__block{
	/*определяет внешний отступ блочных тегов*/
	margin-top:60px ;
}
.name__title {
	/*на элемент начинают действовать все характеристики*/
	display: inline-block;
	/*внутренний отступ блочных тегов*/
	padding: 25px 0px 20px 0px 0px;
	font-size: 55px;
	/*устанавливает межстрочный интервал текста*/
	line-height: 59px;
	/*устанавливает насыщенность шрифта, 700 делает шрифт жирным*/
	font-weight: 700;
}
.name__text {
	/*на элемент начинают действовать все характеристики*/
	display: inline-block;
	/*внутренний отступ блочных тегов*/
	padding: 25px 0px 20px 0px;
	/*устанавливает сесмейство шрифта, которое будет использовано для оформления текста содержимого*/
	font-family: 'Gilroy Medium';
	font-size: 25px;
	/*устанавливает межстрочный интервал текста*/
	line-height: 22px;
}


.name__side {
	font-size: 16px;
	/*устанавливает межстрочный интервал текста*/
	line-height: 20px;
	transform: rotate(-90deg); /*заглавные или прописные символы*/
}

.name__side span{
	/*для задания цвета используются числа в 16-ой системе*/
	color: #828282;
}

.name__slider {
	/*устанавливает ширину блочных тегов, а также некоторых строчных, например img*/
	width: 100%;
	/*многоцелевое свойство, которое определяет, как элемент должен быть показан в документе*/
	/*включает flex разметку*/
	display: flex;
	/*определяет внешний отступ блочных тегов*/
	margin: 15px 0px 0px 0px;
}

.slider__container{
	/* max-width: 1280px; */
	/*определяет внешний отступ блочных тегов*/
	margin: 0 auto;
	padding: 0px 15px;
}


/* ====================================ABOUT=========================== */

.about {
	/*внутренний отступ блочных тегов*/
	padding: 150px 0px 120px 0px;
	/*управляет фоном элемента*/
	/*в данном случае, задает конкретный цвет*/
	background-color: #1a1a1a;
}
.about__content {
	/*положение элементов устанавливается относительно его изначального положения в коде*/
	position: relative;
}

.about__squad {
	/*многоцелевое свойство, которое определяет, как элемент должен быть показан в документе*/
	display: flex;

}
.about__image{
	/*определяет внешний отступ блочных тегов*/
	margin-top: 0px;
	margin-left: 10px;
}
.about__column {
	/*многоцелевое свойство, которое определяет, как элемент должен быть показан в документе*/
	display: flex;
	flex-direction: column;
}
.about__row {
	/*многоцелевое свойство, которое определяет, как элемент должен быть показан в документе*/
	display: flex;
	/*определяет внешний отступ блочных тегов*/
	margin-bottom: 50px;
}

.title{
	font-size: 34px;
	/*устанавливает межстрочный интервал текста*/
	line-height: 42px;
	/*определяет горизонтальное выравнивание текста (по центру)*/
	text-align: center;
}

.about__title {
	font-size: 34px;
	/*устанавливает межстрочный интервал текста*/
	line-height: 42px;
	/*определяет горизонтальное выравнивание текста(по центру)*/
	text-align: center;
	/*внутренний отступ блочных тегов*/
	/*если одно значение, то применяется ко всем сторонам*/
	padding: 0px;
	/*положение элементов устанавливается относительно его изначального положения в коде*/
	position: relative;
	transition: .4s ease-out;
	/*внутренний отступ блочных тегов*/
	padding: 0px 0px 20px 0px;
}

.about__text {
	/*положение элементов устанавливается относительно его изначального положения в коде*/
	position: relative;
	/*внутренний отступ блочных тегов*/
	padding: 35px 0px 100px 0px;

}
.about__description {
	/*устанавливает сесмейство шрифта, которое будет использовано для оформления текста содержимого*/
	font-family: 'Gilroy Medium';
}

.about__subtext {
	/*внутренний отступ блочных тегов*/
	padding: 0px 0px 0px 25px;
	/*устанавливает насыщенность шрифта*/
	font-weight: 100;
	font-size: 17px;
}
/*обращение к первому элементу блока*/
.about__subtext:first-child{
	/*внутренний отступ блочных тегов*/
	padding: 0;
}


/* ====================================IMAGES=========================== */

.images {
	/*определяет внешний отступ блочных тегов*/
	margin-top:30px;
	margin-bottom: 30px;
}
.images__container {
}
.images__row {
	/*первое значение - значение свойства grow - возможность увеличиваться в размере*/
	/*вторым значение свойства shrink - возможность уменьшаться в размере относительно базового размера*/
	/*третьим значение свойства basis, базовый размер элемента*/
	flex: 0 1 50%;
	/*многоцелевое свойство, которое определяет, как элемент должен быть показан в документе*/
	display: flex;
}
.images__column {
	/*определяет внешний отступ блочных тегов*/
	margin: 0px 0px 0px 30px;
	flex-direction: column;
}
.image__column-block{
	/*определяет внешний отступ блочных тегов*/
	margin: 0px 0px 30px 15px;
}
/*обращение к последнему элементу блока*/
.image__column-block:last-child{
	/*определяет внешний отступ блочных тегов*/
	margin: 0px 0px 0px 15px;
}

/* =========================ПОРТФОЛИО==================== */

.end{
	/*для задания цвета используются числа в 16-ой системе*/
	color: #000;
}
.call__info{
	font-size: 23px;
}

.end {
	/*внутренний отступ блочных тегов*/
	padding-top: 60px;
	padding-bottom: 50px;
}
.end__container {
}
.end__information {
	/*многоцелевое свойство, которое определяет, как элемент должен быть показан в документе*/
	display: flex;
	/*первое значение - значение свойства grow - возможность увеличиваться в размере*/
	/*вторым значение свойства shrink - возможность уменьшаться в размере относительно базового размера*/
	/*третьим значение свойства basis, базовый размер элемента*/
	flex: 0 1 50%;
	/*пространство между flex элементами*/
	justify-content: space-between;
	/*устанавливает максимальную ширину блочных тегов (ограничивает ширину)*/
	max-width: 900px;
}
.end__contacts {
	/*многоцелевое свойство, которое определяет, как элемент должен быть показан в документе*/
	display: flex;
	/*переворачивает flex элементы*/
	flex-direction: column;
	/*опредляет выравнивание вдоль основной оси (по центру)*/
	justify-content: center;
}
.form__input {
	/*определяет внешний отступ блочных тегов*/
	margin-top: 20px;
	/*устанавливает высоту блочных тегов*/
	height: 50px;
	/*внутренний отступ блочных тегов*/
	padding: 0px 20px;
	/*устанавливает минимальную ширину блочных тегов*/
	min-width: 400px;
	font-size: 18px;
	/* background-color: #ebebeb; */
	/*устанавливает толщину, цвет и стиль границы для низа блока*/
	border-bottom: 1.75px solid #000 ;
	width: 70%;

}
.subject__border {
	width: 70%;
}
form {
	width: 70%;
}
select {
	width: 100%;	
    border: 2px solid black;
    height: 48px;
}
textarea.form__input {
	/*устанавливает минимальную высоту блочных тегов*/
	min-height: 100px;
	resize: vertical;
}

.name__title {
	font-size: 35px;
}
.call {
	/*определяет внешний отступ блочных тегов*/
	margin-top: 30px;
}
.sub__title {
	/*определяет внешний отступ блочных тегов*/
	margin-bottom: 30px;
	font-size: 18px;
}


.call__button{
	/*определяет внешний отступ блочных тегов*/
	margin-top:30px ;
	/*влияет на отображение внутреннего содержимого блока*/
	display: flex;
	/*опредляет выравнивание вдоль основной оси(по центру)*/
	justify-content: center;
	/*определяет поведение вдоль поперечной оси*/
	align-items: center;
	/*устанавливает радиус скругления блока блока*/
	border-radius:30px ;
	/*управляет фоном элемента*/
	/*определяет цвет, устанавливает фоновое изображение, масштабирует фоновое изображение, указывает градиентную заливки фонового изображения и т.д.*/
	/*в данном случае, задает конкретный цвет*/
	background-color: #ffd014;
	/*определяет горизонтальное выравнивание текста (по центру)*/
	text-align: center;
	/*устанавливает высоту блочных тегов*/
    height: 60px;
	/*устанавливает толщину, цвет и стиль границы вокруг блока*/
    border: 0;
    font-size: 16px;
	/*внутренний отступ блочных тегов*/
    padding-left: 60px;
    padding-right: 60px;
	/*устанавливает насыщенность шрифта*/
    font-weight: 700;
    cursor: pointer;
	/*для задания цвета используются числа в 16-ой системе*/
	color: #000;
}
.call__link{
	color: #000;
}

/* Слайдер */
.slider{
    max-width: 60%;
    max-height: 60%;
    position: relative;
    margin: auto;
}
/* Картинка масштабируется по отношению к родительскому элементу */
.slider .item img {
    object-fit: cover;
    width: 100%;
    height: 600px;
}
/* Кнопки вперед и назад */
.slider .previous, .slider .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    background-color: rgba(0, 0, 0, 0.547);

}
.slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
/* При наведении на кнопки добавляем фон кнопок */
.slider .previous:hover,
.slider .next:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
/* Анимация слайдов */
.slider .item {
    animation-name: fade;
    animation-duration: 1.5s;
}
/* Анимация появления слайдов */
@keyframes fade {
    from {
        opacity: 0.4
    }
    to {
        opacity: 1
    }
}

.subject__border{
	width: 80%;
	margin-top: 20px; 
	display: inline-block;
	padding: 0px 15px;
	 font-size: 18px; 
	 padding-bottom:15px ; 
	 border-bottom: 1.75px solid #000 ;
	 
    
}

